// 文字排版

.output {
  -webkit-overflow-scrolling: touch;
  font-family: "Noto Serif SC", serif;
  line-height: 1.8;
  width: 100%;
  word-break: break-all;
  text-align: justify;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;

  .title {
    font-size: 32px;
  }

  @media (min-width: 500px) {
    .title {
      font-size: 40px;
    }
  }


  code{
    overflow: scroll;
  }

  a {
    font-family: Consolas, Monaco, monospace !important;
    color: #333;
  }

  p, li {
    margin-bottom: .15em;
  }

  // #
  h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
  }

  // ##
  h2 {
    font-weight: normal;
    font-size: 27px;
    margin: 0;

  }

  // ###
  h3 {
    font-weight: bold;
    font-size: 23px;
    margin: 0;

  }

  // ####
  h4 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;

  }

  // #####
  h5 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;

  }
  // ######
  h6 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;

  }

  // -
  ul, ol {
    list-style: none;
    padding-left: 1em;
    margin-top: .3em;
    margin-bottom: .8em;
  }
  ul > li::before{
    content: "\02022";
    display: inline-block;
    color: #D32F2F;
    width: 1em;
    margin-left: -1em;
  }
  ul > li > p{
    display: inline-block;
  }

  // x.
  ol {
    // 一部分定义在无序列表定义中
    counter-reset: li;
    margin: 0 0 0 .5em;
    li {
      text-align: left;
    }
  }
  ol > li::before {
    font-family: Consolas, Monaco, monospace !important;
    overflow: hidden;
    font-size: 16px;
    content: counter(li) '.';
    color: #D32F2F;
    display: inline;
    width: 2em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    counter-increment: li;
  }
  ol > li > p, ul > li > p{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto 30px auto;
    display: block;
    box-shadow: 0 2px 10px 0 #cccccc;
  }

  blockquote{
    margin: 15px 0;
    padding: 0 15px;
    border-left: #D32F2F 2px solid;
  }

  pre {
    padding: 10px 15px;
    border: black 1px solid;
  }
}
